
.about-parent {
    background-image: url('https://unsplash.com/photos/YkWz_coLm84') no-repeat;
    background-size: cover;
    @include flexSetUp (baseline, flex-start, column);
    color: rgb(255, 255, 255);
    margin-left: 70px;
    margin-top: 30px;
    font-size: 30px;
    height: 100vh;
}

.back-to-start {
    height: 50px;
    width: 180px;
    font-size: 25px;
    @include flexSetUp (center, center, row);
    cursor: pointer;
}