.dashBG {
    background-color: rgb(209, 209, 209);
    background: -webkit-linear-gradient(rgb(182, 195, 206), rgb(1, 58, 77)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(182, 195, 206), rgb(1, 58, 77)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(182, 195, 206), rgb(1, 58, 77)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(182, 195, 206), rgb(1, 58, 77)); /* Standard syntax */
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    height: 3500px;
}
.quotesParent {
    @include flexSetUp (center, center, row);
}

.quotes {
    text-align: center;
    height: 200px;
    width: 50%;
    margin-right: 50px;
    margin-top: 0px;
    margin-left: 50px;
    @include flexSetUp (center, center, row);
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(238, 151, 85);
    text-shadow: 2px 1px rgb(1, 69, 109);
}

.bg0Dash {
    margin-top: 0px;
    height: 80px;
    width: 100%;
    @include flexSetUp (center, center, row);  
}

.Welcome {
    position: absolute;
    top: 150px;
    left: 1150px;
    margin-top: -60px;
    margin-left: 100px;
    height: 120px;
    width: 500px;
    border-radius: 8px;

        h2 {
            margin-left: -40px;
        }

        span {
            margin-left: -20px;
            color: rgb(250, 4, 4);
            font-size: 20px;
            text-shadow: 0.5px 0.5px rgb(37, 37, 37);
        }

        .profileLink {
            text-decoration: none;
            color: red;
                &:hover {
                    color:rgb(36, 127, 167);
                }
        }
}

.dashboard {
    margin-top: 80px;
    width: 500px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px rgb(36, 36, 36);
    @include flexSetUp (center, center, row);
}

.bg1Dash {
    margin-top: 50px;
    height: 400px;
    width: 100%;
}

.badgeParent1 {
    @include flexSetUp (center, center, row);
    margin-right: 120px;
    margin-left: 200px;
}

.arrow1 {
    font-size: 50px;
    color: rgb(7, 7, 7);
}
.arrow2 {
    margin-bottom: -60px;
    font-size: 50px;
    color: rgb(7, 7, 7);
}

.badgeParent2 {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 150px;
    @include flexSetUp (center, center, row);
}

.badge {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);
    margin-left: 70px;
    margin-right: 70px;
        img {
            height: 100px;
            width: 100px;
        }
}


.badgeName {
    text-align: center;
    @include flexSetUp (center, center, column);
}

.graphParent {
    background-color: rgb(88, 88, 88);
    background: -webkit-linear-gradient(rgb(88, 88, 88), black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(88, 88, 88), black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(88, 88, 88), black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(88, 88, 88), black); /* Standard syntax */
    height: 750px;
    width: 100%;
    hr {
        font-size: 2px;
        color: gray;
    } 
}

.recoverProgress {
    @include flexSetUp (center, center, row);
}

.recoverProgress1 {
    margin-top: -300px;
    margin-right: 100px;
    background-color: green;
    color: white;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    border-radius: 5px;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
    cursor: pointer;
    font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
}

.recoverProgress2 {
    margin-top: -300px;
    background-color: rgb(27, 112, 151);
    color: white;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    border-radius: 5px;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
    cursor: pointer;
    font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
}

.recoverProgress3 {
    @include flexSetUp (center, center, column);
    margin-top: -140px;
    padding-top: 50px;
     h3 {
         line-height: 5px;
         font-size: 18px;
         font-weight: 200;
         color: white;
         letter-spacing: 1.5px;
     }

     span {
         color: green;
         font-weight: bold;
         font-size: 25px;
     }

     .su {
         color: rgb(27, 112, 151);
         font-weight: bold;
         font-size: 25px;
     }
}

.marginsTitle {
    @include flexSetUp (center, center, column);
    width: 100%;
    color: white;
}

.marginsTitle1 { 
    margin-top: 60px;
    text-align: center;
    letter-spacing: 2px;
   font-size: 30px;
   width: 600px;
   text-shadow: 1.5px 1.5px black;
}

.recoverProgress5 {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    @include flexSetUp (center, center, row);

    h3 {
        margin-top: -10px;
        border: 1.5px solid rgb(211, 211, 211);
        text-align: center;
        width: 400px;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 400;
    }

    span {
        font-size: 25px;
        font-weight: 200;
        color: red;
        text-shadow: 1px 1px black;
    }
}

.goalLink {
     text-decoration: none;
}

.cGoals {
        margin-top: -10px;
        background-color: rgb(236, 224, 204);
        width:1300px;
        height: 600px;
        box-shadow: 5px 5px 5px rgb(44, 44, 44);
        border-radius: 8px;
        overflow: auto;
        color: black;
        overflow: hidden;
        ::-webkit-scrollbar {
            display: none;
            width: 0px;
            background: transparent;
        }
}

.cJournal {
        width: 1300px;
        height: 600px;
        background-color: rgb(236, 224, 204);
        box-shadow: 5px 5px 5px rgb(44, 44, 44);
        border-radius: 8px;
        margin-bottom: 80px;
        color: black;
        overflow: hidden;
        ::-webkit-scrollbar {
            display: none;
            width: 0px;
            background: transparent;
        }
}

.overflow {
    overflow: auto;
    width: 1300px;
    height: 600px;
}

.footerDash {
    width: 100%;
    height: 100px;
    @include flexSetUp (space-around, baseline, row);
}

.footerDashGoals {
    margin-top: 10px;
    height: 50px;
    width: 180px;
    font-size: 25px;
    background-color: rgb(27, 112, 151);
    border-radius: 5px;
    color: rgb(226, 225, 225);
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    @include flexSetUp (center, center, row);
    cursor: pointer;
}

.LinkD {
    text-decoration: none;
}

.jtitleParent {
    display: flex;
    justify-content: flex-start;
}

.jourDate {
    margin-top: 30px;
    margin-left: 50px;
    width: 600px;
    font-size: 20px;
    font-style: italic;

        span {
            width: 300px;
            font-size: 22px;
            font-weight: 900;
            color: rgb(27, 112, 151);
            text-shadow: 1px 1px rgb(75, 75, 75); 
        }
}

.jourEntries {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 20px;
    border: 1px solid lightgray;
    padding: 30px;
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px black;
    border-radius: 8px;
    color: rgb(61, 35, 1);
}

.deleteBtn {
    margin-top: 35px;
    margin-left: 550px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: rgb(27, 112, 151);
    color: white;
    text-shadow: 2px 2px black;
    @include flexSetUp (center, center, row);
    box-shadow: 1.5px 1.5px 1.5px black;
    cursor: pointer;
}

.gtitleParent {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.gday {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 20px;
    border: 1px solid lightgray;
    padding: 30px;
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px black;
    border-radius: 8px;
    color: rgb(61, 35, 1);
}

.goalsDay {
        margin-top: 30px;
        margin-left: 50px;
        font-style: italic;
        font-size: 22px;
        font-weight: 900;
        color: rgb(27, 112, 151);
        text-shadow: 1px 1px rgb(75, 75, 75); 
}

    .deleteGoals {
        margin-top: 30px;
        margin-left: 900px;
    }

    .deleteBtn2 {
        margin-top: 22px;
        margin-left: 20px;
        height: 30px;
        width: 30px;
        border-radius: 100px;
        background-color: rgb(27, 112, 151);
        color: white;
        text-shadow: 2px 2px black;
        @include flexSetUp (center, center, row);
        box-shadow: 1.5px 1.5px 1.5px black;
        cursor: pointer;
    }