.quotes {
    height: 50px;
    width: 100%;
    background-color: lightgray;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    font-style: italic;
    color: rgb(33, 100, 131);
    padding-top: 30px;
}

.bg0Dash {
    height: 180px;
    width: 100%;
    background-color: lightgray;
    @include flexSetUp (center, center, row);
}

.Welcome {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 150px;
    padding-left: 10px;
    height: 120px;
    width: 500px;
    border-radius: 8px;
        span {
            color: red;
            font-size: 20px;
        }

        .profileLink {
            text-decoration: none;
            color: red;
        }
}

.dashboard {
    margin-left: 0px;
    width: 500px;
    color: White;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
}

.logoutButton1 {
    width: 500px;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 20px;
    @include flexSetUp (flex-end);
}

.logoutButton {
    background-color: $buttonColor;
    color: white;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    border-radius: 5px;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-shadow: 2px 2px rgb(20, 20, 20);
    cursor: pointer;
    font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
}

.bg1Dash {
    height: 550px;
    width: 100%;
    background-color: lightgray;
        hr {
            font-size: 2px;
        }
}

.badgeParent1 {
    @include flexSetUp (center, center, row);
    padding-top: 100px;
    margin-right: 100px;
    margin-left: 200px;
}

.arrow1 {
    font-size: 50px;
    color: rgb(7, 7, 7);
}
.arrow2 {
    margin-bottom: -60px;
    font-size: 50px;
    color: rgb(7, 7, 7);
}

.badgeParent2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 150px;
    @include flexSetUp (center, center, row);
}

.badge {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);
    margin-left: 70px;
    margin-right: 70px;
}

.badgeName {
    text-align: center;
    @include flexSetUp (center, center, column);
}

.graphParent {
    background-color:rgb(66, 66, 66);
    height: 700px;
    width: 100%;
    hr {
        font-size: 2px;
        color: gray;
    } 
}

.bodyParent {
    height: 1300px;
    width: 100%;
    background-color:lightgray;
}

.recoverProgress {
    @include flexSetUp (center, center, row);
    padding-top: 50px;
}

.recoverProgress1 {
    margin-right: 100px;
    background-color: green;
    color: white;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    border-radius: 5px;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
    cursor: pointer;
    font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
}

.recoverProgress2 {
    background-color: rgb(27, 112, 151);
    color: white;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    border-radius: 5px;
    @include flexSetUp (center, center, row);
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-shadow: 1.5px 1.5px rgb(20, 20, 20);
    cursor: pointer;
    font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
}

.recoverProgress3 {
    @include flexSetUp (center, center, column);
    padding-top: 50px;
     h3 {
         line-height: 0px;
         font-size: 20px;
         font-weight: 400;
     }

     span {
         color: green;
         font-weight: bold;
         font-size: 25px;
     }

     .su {
         color: rgb(27, 112, 151);
         font-weight: bold;
         font-size: 25px;
     }
}

.recoverProgress4 {
    width: 100%;
    @include flexSetUp (center, center, row);
}

.recoverProgress5 {
    width: 550px;
    height: 200px;
    margin-top: -40px;
    margin-right: 100px;
    margin-left: 100px;
    h3 {
        line-height: 25px;
        font-size: 20px;
        font-weight: 400;
    }
}

.marginsCurrent {
    padding-top: 30px;
    margin-bottom: 80px;
    margin-right: 10px;
    margin-left: 10px;
    @include flexSetUp (center, center, row);
}

.marginsTitle {
    padding-top: 100px;
    @include flexSetUp (center, center, row);
    width: 100%;
}

.marginsTitle1 { 
    text-align: center;
   font-size: 30px;
   width: 600px;
   margin-right: 200px;
}

.marginsTitle1 { 
    font-size: 30px;
    width: 600px;
    text-align: center;
    margin-left: 200px;
 }


.cGoals {
        width: 650px;
        height: 400px;
        background-color: white;
        margin-right: 50px;
        box-shadow: 5px 5px 5px rgb(44, 44, 44);
        border-radius: 8px;
        overflow: auto;
}

.cJournal {
        width: 650px;
        height: 400px;
        background-color: white;
        margin-left: 50px;
        box-shadow: 5px 5px 5px rgb(44, 44, 44);
        border-radius: 8px;
        overflow: auto;
}

