.landing-title {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    margin-top: 120px;
    

        h1 {
            font-size: 100px;
            color: rgb(23, 228, 228);
            font-family: 'Pavanam', sans-serif;
            letter-spacing: 8px;
            font-weight: 600;
            text-shadow: 2px 8px rgb(49, 49, 49);
        }

        .subtitle {
            margin-top: -80px;
            color: rgba(248, 171, 103, 0.979);
            font-family: 'Pavanam', sans-serif;
            text-shadow: 2px 2px rgb(20, 20, 20);
            @include flexSetUp (center, center, column);
            
        }

        .loginBtn {
            margin-top: 25px;
            height: 50px;
            width: 180px;
            background-color: rgb(33, 100, 131);
            box-shadow: 2px 2px 2px rgb(36, 36, 36);
            border-radius: 5px;
            @include flexSetUp (center, center, row);
            font-size: 20px;
            color: rgb(212, 212, 212);
            text-shadow: 2px 2px rgb(20, 20, 20);
            cursor: pointer;
            font-weight: bold;
        }
}

.landingFParent {
    @include flexSetUp (center, center, row);
}

.landingFoot {
    margin-top: -170px;
    height: 170px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.AU {
    margin-left: 100px;
    height: 50px;
    width: 180px;
    font-size: 25px;
    background-color: rgba(104, 102, 102, 0.493);
    border-radius: 5px;
    color: rgb(226, 225, 225);
    text-shadow: 2px 2px rgb(20, 20, 20);
    box-shadow: 2px 2px 2px rgb(36, 36, 36);
    @include flexSetUp (center, center, row);
    cursor: pointer;
    position: absolute;
}

.Link {
    text-decoration: none;
    color: rgb(13, 172, 235);
        &:hover {
            color: rgba(248, 171, 103, 0.979);
        }
}

.auth1 {
    text-decoration: none;  
    color: rgb(212, 212, 212);
         &:hover {
            color: rgb(23, 228, 228);
         }
}