body {
  padding: 0px;
  margin: 0px;
  background-color: #585858; }

h1 {
  padding-top: 200px;
  font-size: 100px;
  margin: 0px; }

.landing-title {
  position: absolute;
  margin: 0px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  margin-top: 20px; }
  .landing-title h1 {
    font-size: 100px;
    color: #14e4d2;
    font-family: 'Pavanam', sans-serif;
    letter-spacing: 8px;
    font-weight: 600;
    text-shadow: 2px 8px #313131; }
  .landing-title .subtitle {
    margin-top: -10px;
    color: rgba(248, 171, 103, 0.979);
    font-family: 'Pavanam', sans-serif;
    text-shadow: 2px 2px #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .landing-title .loginBtn {
    margin-top: 25px;
    height: 50px;
    width: 180px;
    background-color: #216483;
    box-shadow: 2px 2px 2px #242424;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: #ebebeb;
    text-shadow: 2px 2px #141414;
    cursor: pointer; }
