body {
  padding: 0px;
  margin: 0px;
  background-color: #585858; }

.landing-title {
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  margin-top: 120px; }
  .landing-title h1 {
    font-size: 100px;
    color: #17e4e4;
    font-family: 'Pavanam', sans-serif;
    letter-spacing: 8px;
    font-weight: 600;
    text-shadow: 2px 8px #313131; }
  .landing-title .subtitle {
    margin-top: -80px;
    color: rgba(248, 171, 103, 0.979);
    font-family: 'Pavanam', sans-serif;
    text-shadow: 2px 2px #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .landing-title .loginBtn {
    margin-top: 25px;
    height: 50px;
    width: 180px;
    background-color: #216483;
    box-shadow: 2px 2px 2px #242424;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: #d4d4d4;
    text-shadow: 2px 2px #141414;
    cursor: pointer;
    font-weight: bold; }

.landingFParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.landingFoot {
  margin-top: -170px;
  height: 170px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.AU {
  margin-left: 100px;
  height: 50px;
  width: 180px;
  font-size: 25px;
  background-color: rgba(104, 102, 102, 0.493);
  border-radius: 5px;
  color: #e2e1e1;
  text-shadow: 2px 2px #141414;
  box-shadow: 2px 2px 2px #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: absolute; }

.Link {
  text-decoration: none;
  color: #0daceb; }
  .Link:hover {
    color: rgba(248, 171, 103, 0.979); }

.auth1 {
  text-decoration: none;
  color: #d4d4d4; }
  .auth1:hover {
    color: #17e4e4; }

.aboutParent {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 40px;
  font-size: 25px;
  height: 100vh; }

.aboutBG {
  background-color: white;
  height: 80vh;
  width: 80%; }

.bg0Dash {
  height: 150px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.Welcome {
  margin-left: 50px;
  padding-left: 20px;
  height: 120px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 8px; }
  .Welcome span {
    color: red;
    font-size: 20px; }
  .Welcome .profileLink {
    text-decoration: none;
    color: red; }

.logoutButton {
  padding: 30px;
  background-color: #216483;
  color: white;
  cursor: pointer; }

.bg1Dash {
  height: 350px;
  width: 100%;
  background-color: white; }

.badgeParent1 {
  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.badgeParent2 {
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.badge {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50px;
  margin-bottom: 8px; }

.badgeName {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.profileBG {
  background-color: gray;
  height: 150vh; }

.profileParent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.CreateProfile {
  margin-top: 60px;
  margin-left: 160px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #141414; }

.profileDes {
  margin-top: 30px;
  margin-left: 160px;
  color: white;
  font-size: 16px;
  line-height: 30px;
  text-shadow: 1.5px 1.5px #141414; }

.selectionParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.selectionBG {
  margin-top: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px #2c2c2c;
  border-radius: 10px;
  width: 80%;
  height: 100vh;
  overflow: auto; }

.Row {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.FRclass {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 600; }
  .FRclass input {
    padding-left: 10px;
    width: 200px;
    height: 25px;
    border: 1px solid #0daceb;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #2c2c2c;
    font-size: 14px; }
  .FRclass select {
    width: 108px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #0daceb;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #2c2c2c;
    font-size: 14px; }

.Row2 {
  margin-top: 60px;
  margin-left: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.FR2class {
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 55px; }
  .FR2class input {
    padding-left: 0px;
    width: 200px;
    height: 30px;
    color: #0daceb;
    font-size: 14px; }
  .FR2class textarea {
    width: 500px;
    height: 110px;
    border: 1px solid #0daceb;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #2c2c2c;
    font-size: 14px; }

.PicBox {
  margin-left: -15px;
  margin-right: 85px;
  height: 150px;
  width: 150px;
  border: 1px solid #0daceb;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #2c2c2c; }

.savePParent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 50px; }

.saveP {
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 20px;
  height: 50px;
  width: 180px;
  background-color: #2280a8;
  box-shadow: 2px 2px 2px #242424;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  color: #eeeeee;
  text-shadow: 1.5px 1.5px #141414;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }
